<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.OrderFood.mapper.OrderDetailsMapper">


    <select id="selectOrderDetailByOrderId" resultType="com.example.OrderFood.vo.OrderDetailVO">
        select od.dish_no, dish_name, description, price, quantity, img
        from order_details od
                 join dish d on d.dish_no = od.dish_no
        where od.order_id = #{orderID};
    </select>

</mapper>
